@import './variables';
@import './icons';
@import './commons';

// Styling request
.calc__req-wrapper{
    background: linear-gradient(to bottom, var(--calcBackground) 10%, $siteBackground 90%);
}
.calc__req__header{
    @extend %header;
    background: transparent;
    font-size: 2em;
}
.calc__req__form{
    @extend %cardBackground;
    align-items: center;
    &__groups{
        @extend %form-group;
        margin: 0; // ha ugralos kell akkor marad a margin
    }
    &__labels{
        @extend %label;
    }
    &__icons{
        @include icons(1.5em, $inactiveBorder);
    }
    &__input-wrapper{
        @extend %input-wrapper;
    }    
    &__inputs{
        @extend %input;
        &--select{
            width: 100%;
            height: 2.5em;
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            // For custom select arrow
            // position: relative;
            // appearance: none;  
            // background-image:
            // linear-gradient(45deg, transparent 50%, blue 50%),
            // linear-gradient(135deg, blue 50%, transparent 50%),
            // linear-gradient(to right, lime, skyblue);
            // background-position:
            //     calc(100% - 20px) calc(1em + 2px),
            //     calc(100% - 15px) calc(1em + 2px),
            //     100% 0;
            // background-size:
            //     15px 15px,
            //     15px 15px,
            //     2.2em 2.5em;
            // background-repeat: no-repeat;   
        }
        &:focus{
            border: none;
            outline: none;
        }
    }
    &__error{
        color: $invalidBorder;
    }
    &__btn{
        @extend %button;
    }
}

.valid{
    background: $validColor;
    border-color: $validBorder;
    .calc__req__form__icons{
        color: $validBorder;
    }
}

.invalid{
    background: $invalidColor;
    border-color: $invalidBorder;
    .calc__req__form__icons{
        color: $invalidBorder;
    }
}

// Styling filter
.filter{
    color: $labelColor;
    &__header{
        @extend %header;
        margin: 0;
        margin-top: 1.5em;
        cursor: pointer;
    }
    &__wrapper{
        height: calc(var(--filterHeight) + 1.5em); // +1.5em for the margins
        overflow: hidden;
        transition: 300ms;
        &--hidden{
            height: 0;
        }
    }
    &__groups{
        margin: 0.5em 1em;
    }
    &__input{
        accent-color: $activeColor;
        &--payment{
            margin: 0 1em;
        }
        &--hidden{
            display: none;
        }
        &:hover{
            background: $activeBorder;
        }
    }
    &__title{
        @extend %label;
        font-size: 1em; //font size majd eldol, hogy hogy nez ki telon
        font-style: italic;
    }
    &__list{
        margin: 0;
        padding: 0.2em 0;
        border-bottom: 1px solid $inactiveBorder;
        list-style: none;
        line-height: 1.5; //?
    }
    &__label{
        // chkbox labels
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding-left: 0.25em;
    }
    &__minmax-wrapper{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }
    &__icons{
        @include icons(1.5em, $textColor);
        padding: 0;
    }
    &__logos{
        max-width: 50%;
        max-height: 1.8em;
    }
}

// Styling results
.calc__res-wrapper{
    &__header{
        @extend %header;
        margin: 0;
        margin-top: 1.5em;
    }
}
.calc__res-list{
    // display: inline; // nem tudom miert kell?
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: italic;
    font-size: 0.86em; //1em;
    &__item{
        @extend %cardBackground;
        position: relative;
        margin: 4em auto;
        border-top-left-radius: 0;
        border-top: 1px solid hsla(0, 6%, 80%, 0.3); // $shadowGrey with opacity
        &:first-child{
            & h3:first-of-type{
                background: $validColor;
                color: $validBorder;
            } 
        }
    }
    &__header{
        position: absolute;
        margin: 0;
        top: -2.55em;
    }
    &__title{
        display: inline-block;
        margin: 0;
        &:first-child{
            padding: 0.5em;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            background: $activeColor;
            color: $activeBorder;
            font-weight: normal;
        }        
    }
    &__detail-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        font-size: 1.15em;
        &:nth-child(even){
            background: darken($color: $siteBackground, $amount: 6%);
        }
    }
    &__details{
        margin: 0;
        color: $labelColor;
        font-size: 1.2em;
        font-weight: normal;
        &:last-child{
            font-weight: bolder;
        }
    }
    &__btn{
        @extend %button;
        margin: 0.5em auto;
        font-size: 1em;
    }
}

// Loading animation
.skeleton{
    opacity: 0.7;
    animation: skeleton-anim 1s linear infinite alternate;
    &__text{
        width: 7em;
        height: 1.2em;
        border-radius: 0.125em;
    }
}

@keyframes skeleton-anim{
    0% {
        background-color: $inactiveColor;
    }
    100% {
        background-color: $inactiveBorder;
    }
}

// Styling CSOK table
.csok{
    &__icon{
        @include icons(1.5em, $activeColor);        
    }
    &__label{
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0.5em;
    }
    // &__input{ // doesnt look good on radiobuttons
    //     accent-color: $activeColor;
    // }
    &__tooltip{
        position: relative;
        width: 50%;
        padding: 0.2em;
        border-radius: 0.5em;
        background: var(--calcBackground);
        color: $textColor;
        &::before{
            content: '';
            position: absolute;
            top: calc(50% - 0.5em);
            left: -0.4em;
            width: 0;
            height: 0;
            border-top: 0.5em solid transparent;
            border-bottom: 0.5em solid transparent;
            border-right: 0.5em solid var(--calcBackground);
        }
    }
    &__table{
        width: 100%;
        margin-top: 2em;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 12px;
        text-align: center;
        &__row,
        &__cols{
            transition: 300ms;            
            &--selected{
                background: $inactiveColor;
            }
        }
        &__head{
            border: 1px solid $inactiveBorder;
            font-size: 10px;
            white-space: pre-line;
            cursor: pointer;
            &--angled{
                writing-mode: vertical-lr;//sideways-lr;
                // text-orientation: upright;//sideways;
                transform: rotateZ(-180deg) translateX(2px);
            }
            &--hidden{
                display: none;
            }
        }
        &__cell{
            padding: 2px;
            border: 1px solid $inactiveBorder;
            white-space: nowrap;
            &--selected{
                background: $activeBorder;
                border: 1px solid $inactiveColor;
                color: $textColor;
            }
            &--hidden{
                display: none;
            }
        }        
    }
    &__result{
        margin: 0;
        padding: 1em;
        font-size: 0.95em;
        font-style: italic;
    }
}