@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$inactiveBorder: #3099c975;//#749199;
$inactiveColor: #89d8fd59;//#89d8fd79;//#9ad3d681;
$activeBorder: #1769c6;
$activeColor: rgba(61, 192, 253, 0.5);
$validBorder: #17c672;
$validColor: rgba(69, 248, 189, 0.5);
$invalidBorder: #f31d1d;
$invalidColor: rgba(255, 100, 100, 0.5);

:root{
    --calcBackground: #3dc0fd; //will be set from the react app
    --filterHeight: 0;
}

// Styling request
.calc__req-wrapper{
    background: linear-gradient(to bottom, var(--calcBackground) 10%, rgb(255, 255, 255) 90%);
    //#3dc0fd
}
.calc__req__header{
    display: block;
    margin: 0;
    padding: 0.5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}
.calc__req__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    background: white;
    // border: 1px solid aquamarine;
    border-radius: 1em;
    box-shadow: 0px 5px 7px rgb(207, 201, 201);
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    // transform: translateY(-7.5em);
    &__groups{
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        padding: 0.5em;
    }
    &__labels{
        display: block;  
        font-size: 1.1em;
        font-weight: 600;
        color: rgb(71, 70, 70);
    }
    &__input-wrapper{
        display: flex;
        margin: 0.5em 0;
        background: $inactiveColor;//#9ad3d681; //rgba(127, 255, 212, 0.534);
        border: 1px solid $inactiveBorder;//#749199;
        border-radius: 0.6em;
        &:focus-within{
            background: rgba(61, 192, 253, 0.5);
            border-color: #1769c6;
            & > :nth-child(odd){
                color: #1769c6;
            }
        }
    }
    &__icons{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
        color: $inactiveBorder;//#749199;
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 1;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        &--text{
            font-family: 'Barlow', sans-serif;
            font-size: 1em;
        }
        &--credit{
            &::before{
                content: '\e870';
            }
        }
        &--cash{
            &::before{
                content: '\e57d';
            }
        }
        &--calendar{
            &::before{
                content: '\f1bb';
            }
        }
        &--child{
            &::before{
                content: '\f1ac';
            }
        }
        &--addchild{
            &::before{
                content: '\e7fe';
            }
        }
    }
    &__inputs{
        width: 80%; //adjust to correct size later
        height: 2em;
        padding: 0.3rem;
        border: none;
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-size: 1.2em;
        opacity: 0.7; //vagy color: rgba0.5
        // color: rgba(0, 0, 0, 0.5);
        // appearance: none;
        // -moz-appearance: textfield;
        &--select{
            // position: relative;
            width: 100%;
            height: 2.5em;
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            // appearance: none;  
            // background-image:
            // linear-gradient(45deg, transparent 50%, blue 50%),
            // linear-gradient(135deg, blue 50%, transparent 50%),
            // linear-gradient(to right, lime, skyblue);
            // background-position:
            //     calc(100% - 20px) calc(1em + 2px),
            //     calc(100% - 15px) calc(1em + 2px),
            //     100% 0;
            // background-size:
            //     15px 15px,
            //     15px 15px,
            //     2.2em 2.5em;
            // background-repeat: no-repeat;   
        }
        &:focus{
            border: none;
            outline: none;
        }
    }
    &__error{
        color: $invalidBorder;//#f31d1d;
    }
    &__btn{
        display: flex;
        align-items: center;
        margin-bottom: 1.5em;
        padding: 0.5em 1rem;
        border: none;
        border-radius: 0.5em;
        background: var(--calcBackground);//rgba(61, 192, 253, 1);
        color: white;
        box-shadow: 
            0px 2px 0px grey,
            0px 5px 8px grey;
        font-family: 'Barlow', sans-serif;
        font-size: 1.2em; //???
        text-transform: capitalize;
        letter-spacing: 1px;
        &::after{
            content: '\e039';
            display: inline-block;
            padding-left: 0.3em;
            font-family: 'Material Icons';
            font-size: 1.5em;
        }
    }
}

.active{ //nemkell?
    background: $activeColor;//rgba(61, 192, 253, 0.5);
    border-color: $activeBorder;//#1769c6;
    .calc__req__form__icons{
        color: $activeBorder;//#1769c6;
    }
}

.valid{
    background: $validColor;//rgba(69, 248, 189, 0.5);
    border-color: $validBorder;//#17c672;
    .calc__req__form__icons{
        color: $validBorder;
    }
}

.invalid{
    background: $invalidColor;//rgba(255, 100, 100, 0.5);
    border-color: $invalidBorder;//#f31d1d;
    .calc__req__form__icons{
        color: $invalidBorder;
    }
}

// Styling filter
.filter{
    color: rgb(71, 70, 70);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    &__header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5em;
        padding: 0.25em;
        background: var(--calcBackground);
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__wrapper{
        height: calc(var(--filterHeight) + 1.5em); // +1.5em for the margins
        overflow: hidden;
        transition: 300ms;
        &--hidden{
            height: 0;
        }
    }
    &__groups{
        margin: 0.5em 1em;
    }
    &__input{
        accent-color: $activeColor;
        &--payment{
            margin: 0 1em;
        }
        &--hidden{
            display: none;
        }
        &:hover{
            background: $activeBorder;
        }
    }
    &__title{  
        margin: 0;   
        font-size: 1em;
        font-style: italic;
    }
    &__list{
        margin: 0;
        padding: 0.2em 0;
        border-bottom: 1px solid $inactiveBorder;
        list-style: none;
        line-height: 1.5; //?
    }
    &__label{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding-left: 0.25em;
    }
    &__minmax-wrapper{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }
    &__icons{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        // padding: 0.5rem;
        color: white;//$inactiveBorder;//#749199;
        font-family: 'Material Icons Outlined';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 1;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        &--filter::after{
            content: '\ef4f';
        }
    }
    &__logos{
        max-width: 50%;
        max-height: 1.8em;
    }
}

// Styling results
.calc__res-wrapper{
    &__title{
        background: var(--calcBackground);
        padding: 0.5em;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        text-align: center;
    }
}
.calc__res-list{
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-size: 0.86em; //1em;
    &__item{
        display: flex;
        position: relative;
        width: 90%;
        // height: 8em;
        margin: 4em auto;
        border-radius: 1em;
        border-top-left-radius: 0;
        box-shadow: 0px 5px 7px rgb(207, 201, 201);
        border-top: 1px solid rgba(207, 201, 201, 0.3);
        &:first-child{
            margin-top: 4em;
            & h3:first-of-type{
                background: $validColor;
                color: $validBorder;
            } 
        }
    }
    &__header{
        position: absolute;
        margin: 0;
        top: -2em;
    }
    &__title{
        display: inline-block;
        margin: 0;
        &:first-child{
            padding: 0.5em;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            background: $activeColor;
            color: $activeBorder;
            font-weight: normal;
        }        
    }
    &__detail-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        font-size: 1.15em;
        &:nth-child(even){
            background: darken($color: #FFFFFF, $amount: 6%);
        }
    }
    &__details{
        margin: 0;
        color: rgb(71, 70, 70);
        font-size: 1.2em;
        font-weight: normal;
        &:last-child{
            font-weight: bolder;
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        margin: 0.5em auto;
        padding: 0.5em 1rem;
        border: none;
        border-radius: 0.5em;
        background: var(--calcBackground);//rgba(61, 192, 253, 1);
        color: white;
        box-shadow: 
            0px 2px 0px grey,
            0px 5px 8px grey;
        font-family: 'Barlow', sans-serif;
        font-size: 1em;
        text-transform: capitalize;
        letter-spacing: 1px;
        &::after{
            content: '\e039';
            display: inline-block;
            padding-left: 0.3em;
            font-family: 'Material Icons';
            font-size: 1.5em;
        }
    }
}

// Loading animation
.skeleton{
    opacity: 0.7;
    animation: skeleton-anim 1s linear infinite alternate;
    &__text{
        width: 7em;
        height: 1.2em;
        border-radius: 0.125em;
    }
}

@keyframes skeleton-anim{
    0% {
        background-color: $inactiveColor;
    }
    100% {
        background-color: $inactiveBorder;
    }
}

// Styling CSOK table
.csok{
    // display: flex;
    // flex-direction: column;
    // font-family: 'Barlow', sans-serif;
    // font-style: italic;
    &__icon{
        display: inline-flex;
        // justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        // padding: 0.5rem;
        // color: white;//$inactiveBorder;//#749199;
        font-family: 'Material Icons Outlined';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 1;
        text-align: center;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        &--question::before{
            content: '\e8fd';
        }
    }
    &__label{
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0.5em;
    }
    // &__input{
    //     accent-color: $activeColor;
    // }
    &__tooltip{
        position: relative;
        width: 50%;
        padding: 0.2em;
        border-radius: 0.5em;
        background: var(--calcBackground);
        color: white;
        &::before{
            content: '';
            position: absolute;
            top: calc(50% - 0.5em);
            left: -0.4em;
            width: 0;
            height: 0;
            border-top: 0.5em solid transparent;
            border-bottom: 0.5em solid transparent;
            border-right: 0.5em solid var(--calcBackground);
        }
    }
    &__table{
        width: 100%;
        margin-top: 2em;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: 12px;
        text-align: center;
        &__row,
        &__cols{
            transition: 300ms;            
            &--selected{
                background: $inactiveColor;//var(--calcBackground);
            }
        }
        &__head{
            border: 1px solid $inactiveBorder;
            font-size: 10px;
            white-space: pre-line;
            cursor: pointer;
            &--angled{
                writing-mode: sideways-lr;
                text-orientation: sideways;
            }
            &--hidden{
                display: none;
            }
        }
        &__cell{
            padding: 2px;
            border: 1px solid $inactiveBorder;
            white-space: nowrap;
            &--selected{
                background: $activeBorder;
                border: 1px solid $inactiveColor;
                color: white;
            }
            &--hidden{
                display: none;
            }
        }        
    }
    &__result{
        margin: 0;
        padding: 1em;
        font-size: 15px;
        font-family: 'Barlow', sans-serif;
        font-style: italic;
    }
}