@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
:root {
  --calcBackground: hsl(199, 98%, 62%);
  --filterHeight: 0;
  --progress: 910;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
  background: white;
  border-radius: 1em;
  -webkit-box-shadow: 0px 5px 7px #cfc9c9;
          box-shadow: 0px 5px 7px #cfc9c9;
  font-family: 'Barlow', sans-serif;
  font-style: italic;
}

.contact__btn, .thankYou__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  padding: 0.5em 1rem;
  border: none;
  border-radius: 0.5em;
  background: var(--calcBackground);
  color: white;
  -webkit-box-shadow: 0px 2px 0px gray, 0px 5px 8px gray;
          box-shadow: 0px 2px 0px gray, 0px 5px 8px gray;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 50ms;
  transition: 50ms;
}

.contact__btn::after, .thankYou__btn::after {
  content: '\e039';
  display: inline-block;
  padding-left: 0.3em;
  font-family: 'Material Icons Outlined';
  font-size: 1.5em;
}

.contact__btn:active, .thankYou__btn:active {
  -webkit-box-shadow: 0px 2px 4px gray;
          box-shadow: 0px 2px 4px gray;
  -webkit-transform: scale(95%);
          transform: scale(95%);
}

.contact__form-group {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em;
  margin: 0.75em 0;
}

.contact__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0.5em 0;
  background: rgba(134, 216, 253, 0.349);
  border: 1px solid rgba(49, 153, 201, 0.459);
  border-radius: 0.6em;
}

.contact__input-wrapper:focus-within {
  background: rgba(63, 193, 253, 0.5);
  border-color: #1768c4;
}

.contact__input-wrapper:focus-within > :nth-child(odd) {
  color: #1768c4;
}

.contact__input {
  width: 80%;
  height: 2em;
  padding: 0.3rem;
  border: none;
  border-radius: 0;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-size: 1.2em;
  opacity: 0.7;
}

.contact__input:-webkit-autofill {
  border: none;
  background: transparent;
}

.contact {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}

.contact__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 1em;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  color: #484747;
  text-decoration: none;
  text-transform: uppercase;
}

.contact__list-item:focus, .contact__list-item:hover, .contact__list-item:active {
  color: var(--calcBackground);
}

.contact__form {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.contact__form.posting {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

.contact__label {
  position: absolute;
  top: 0.85em;
  left: 3em;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.contact__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  padding: 0.5rem;
  color: rgba(49, 153, 201, 0.459);
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.contact__icon--text {
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
}

.contact__icon--credit::before {
  content: '\e870';
}

.contact__icon--cash::before {
  content: '\e57d';
}

.contact__icon--calendar::before {
  content: '\f1bb';
}

.contact__icon--child::before {
  content: '\f1ac';
}

.contact__icon--addchild::before {
  content: '\e7fe';
}

.contact__icon--filter::before {
  content: '\ef4f';
}

.contact__icon--question::before {
  content: '\e8fd';
}

.contact__icon--name::before {
  content: '\e8a6';
}

.contact__icon--phone::before {
  content: '\e0b0';
}

.contact__icon--email::before {
  content: '\e0be';
}

.contact__icon--clock::before {
  content: '\e8b5';
}

.contact__icon--message::before {
  content: '\e0b9';
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 0.25em;
}

.contact__icon--location::before {
  content: '\e0c8';
}

.contact__icon--close::before {
  content: '\e166';
}

.contact__icon--news::before {
  content: '\f009';
}

.contact__icon--about::before {
  content: '\e7fd';
}

.contact__icon--contact::before {
  content: '\e0cf';
}

.contact__icon--personal::before {
  content: '\e926';
}

.contact__icon--home::before {
  content: '\e88a';
}

.contact__icon--auto::before {
  content: '\e531';
}

.contact__icon--baby::before {
  content: '\eb41';
}

.contact__icon--csok::before {
  content: '\e73a';
}

.contact__icon--description::before {
  content: '\e873';
}

.contact__icon--settings::before {
  content: '\e8b8';
}

.contact__icon--explore::before {
  content: '\e87a';
}

.contact__icon--savings::before {
  content: '\e2eb';
}

.contact__icon--price_check::before {
  content: '\f04b';
}

.contact__icon--holiday_village::before {
  content: '\e58a';
}

.contact__icon--manage_accounts::before {
  content: '\f02e';
}

.contact__icon--family_restroom::before {
  content: '\f1a2';
}

.contact__icon--no_accounts::before {
  content: '\f03e';
}

.contact__icon--social_distance::before {
  content: '\e1cb';
}

.contact__icon--warning::before {
  content: '\e002';
}

.contact__icon--assignment_turned_in::before {
  content: '\e862';
}

.contact__icon--construction::before {
  content: '\ea3c';
}

.contact__icon--roofing::before {
  content: '\f201';
}

.contact__icon--balance::before {
  content: '\eaf6';
}

.contact__icon--inventory2::before {
  content: '\e1a1';
}

.contact__icon--person::before {
  content: '\e55a';
}

.contact__icon--small {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2em;
  padding: 0.2em;
  background: white;
  color: #484747;
  font-size: 1.3em;
}

.contact__icon--success::before {
  color: #17c471;
  font-size: 3em;
  content: '\e815';
}

.contact__icon--failed::before {
  color: #f31b1b;
  font-size: 3em;
  content: '\f1d4';
}

.contact__input {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.contact__input--area {
  min-width: 50%;
  max-width: 80%;
  height: 10em;
  min-height: 5em;
}

.contact__input:focus {
  border: none;
  outline: none;
}

.contact__input:focus ~ label, .contact__input:not(:placeholder-shown) ~ label {
  top: -1.5em;
  left: 0em;
  font-size: 1.1em;
  font-weight: 600;
  color: #484747;
  opacity: 1;
}

.contact__error {
  color: #f31b1b;
}

.contact__btn {
  margin: 0.5em auto;
  font-size: 1em;
}

.valid {
  background: rgba(68, 248, 188, 0.5);
  border-color: #17c471;
}

.valid .contact__icon {
  color: #17c471;
}

.invalid {
  background: rgba(255, 102, 102, 0.5);
  border-color: #f31b1b;
}

.invalid .contact__icon {
  color: #f31b1b;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(134, 216, 253, 0.349);
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.progress__svg {
  width: 100%;
  height: 50%;
}

.progress__circle {
  cx: 50%;
  cy: 50%;
  r: 9em;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  fill: transparent;
  stroke: url("#circleGradient");
  stroke-linecap: round;
  stroke-width: 8px;
  stroke-dasharray: 910;
  stroke-dashoffset: var(--progress);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.progress__circle__gradient--start {
  stop-color: #1768c4;
}

.progress__circle__gradient--end {
  stop-color: #17c471;
}

.progress__status {
  position: absolute;
  top: 30%;
  text-align: center;
}

.progress__percent {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 4em;
  font-weight: 600;
  background: -webkit-gradient(linear, right top, left top, from(#1768c4), to(#17c471));
  background: linear-gradient(to left, #1768c4, #17c471);
  background-clip: text;
  color: transparent;
}

.progress.posting {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.progress.posted {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

.thankYou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.thankYou__link {
  text-decoration: none;
}

.thankYou__btn--success {
  background: #17c471;
}

.thankYou__btn--failed {
  background: #f31b1b;
}

.thankYou.posted {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.thankYou.posted--success {
  background: rgba(68, 248, 188, 0.5);
}

.thankYou.posted--failed {
  background: rgba(255, 102, 102, 0.5);
}
/*# sourceMappingURL=contact.css.map */