@import './variables';
@import './icons';
@import './commons';

.news{
    &__list{
        padding: 0;
        list-style: none;
    }
    &__item{
        @extend %cardBackground;
        margin: 1.3em auto;
        overflow: hidden;
    }
    &__label{
        @extend %label;
        background: $inactiveColor;
    }
    &__date{
        font-size: 0.7em;
        background: $inactiveColor;
        color: $dateColor;
        font-weight: bold;
    }
    &__desc,
    &__label,
    &__date{
        padding: 0 0.5em;
    }
    &__icon{
        @include icons(1em, $dateColor);
        width: 1em;
        height: 1em;
        padding: 0.2em;
    }
}