@import './variables';
@import './icons';

.page{
    margin-top: 2em;
    &--noMargin{
        margin: 0;
    }
    &__container{
        padding: 0.1em 1em;
        &:nth-child(odd){
            border-left: 0.5em solid var(--calcBackground);
        }
        &:nth-child(even){
            border-right: 0.5em solid var(--calcBackground);
        }
        &:first-child{
            background: var(--calcBackground);
            color: $siteBackground;
            & .page__icon{
                color: $siteBackground;
            }
        }
        & .page__icon{
            color: var(--calcBackground);
        }
    }
    &__header{
        font-style: italic;
        opacity: 0.8;
    }
    &__icon{
        @include icons(3.5em, var(--calcBackground));
        height: 100%;
        margin-left: 0.2em;
        float: right;
    }
    &__desc,
    &__list{
        line-height: 1.4em;
        text-align: justify;
        opacity: 0.8;
    }
    &__list{
        padding-left: 1em;
    }
}